body{

    background: linear-gradient(to bottom right,#a5bef56a , #f9bbbb8a);
    background-size:cover;
    height: 100vh;
  background-repeat: no-repeat;
}




.est{
    background-color: #b6b5b500;
   margin-left: 10px;
   margin-right: 20px;
   margin-top: 5%;
}

.rtx{

    background-color: rgb(231, 178, 178);
}


.rtx{

    background-color: rgba(232, 1, 1, 0);
    color: rgb(0, 0, 0);
}

.th1{

    background-color: rgb(51, 51, 51);
    color: aliceblue;
}

.logo{
    margin-top: -50px;
    width: 200px;
}


.btn-exel{
background-color: rgb(105, 140, 228);
border-radius: 5px;
width: 30%;
height: 50px;
color: rgb(2, 2, 2);
margin: 5px;
border-color: rgb(0, 0, 0);
}

.btn-exel a {
    color: rgb(0, 0, 0);
}

.btn-exel:hover{
    background: #db5e5e;
    transition: 1s;
    
}

.titulo{
    margin-top: 50px;
    text-align: center;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(0, 0, 0);
}
.button{
    align-items: center;
    color: #db5e5e;
}